.filter_item{
    background-color: lightgrey;
    margin-right: 5%;
}

input[type=button] {
background-color: black;
    color: white;
    border-radius: 27px;
    padding: 2px;
    margin: 1%;
    border-color: #2e4a7e;
}

input[type=checkbox] {
    margin: 1%;
    margin-top: 25;
    width: 55%;
        height: 25%;
}